<section class="page-footer grey lighten-1">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eos non unde dolores amet expedita rerum qui eius optio, quisquam tempore, tempora laudantium mollitia vitae reprehenderit molestias! Odio soluta rerum modi ratione, quaerat qui vel velit magnam eligendi, praesentium repudiandae at explicabo! Laborum, beatae. Ipsam enim possimus magnam officiis quasi?.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                    <li><a class="grey-text text-lighten-3" href="">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="login">Login</a></li>
                    <li><a class="grey-text text-lighten-3" href="register">Register</a></li>
                    <li><a class="grey-text text-lighten-3" href="profile">Profile</a></li>
                    <li><a class="grey-text text-lighten-3" href="orders">Orders</a></li>
                    <li><a class="grey-text text-lighten-3" href="products">Products</a></li>
                    <li><a class="grey-text text-lighten-3" href="cart"><i class="fal fa-shopping-cart"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright center">
          <div class="container">
          © 2019 Copyright
          </div>
        </div>
    </section>
