<div class="welcome-text">
    <div class="container">
        <h3 class="center-align">WELCOME TO MATERIALIZING</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam aperiam fugit consequatur enim delectus.
            Doloribus mollitia reprehenderit tenetur, laborum sint ex magni voluptatem fugit debitis veritatis?
            Voluptatum enim sequi laboriosam, voluptas suscipit dignissimos, a culpa laudantium deserunt nobis similique
            maiores praesentium odio quisquam vero tempore ex exercitationem veniam minus? Quo iure consequatur iusto
            perferendis consequuntur, quam explicabo doloribus placeat mollitia nobis ea accusantium deleniti a totam
            minima ducimus perspiciatis! Nemo veniam praesentium totam quaerat natus beatae necessitatibus nihil
            dolorem! Praesentium assumenda, temporibus architecto distinctio, veniam, quia incidunt repudiandae
            quibusdam alias expedita quo magnam. Ducimus neque hic ea id tempora sapiente.
        </p>
        
    </div>
</div>