.brand-logo i{
    margin-right: 50px;
    font-size: 3rem;
    color: #212121;
}


.navLinks {
    font-weight: 100;
    font-size: 1.1rem;
}

.logoText {
    font-size: 1.7rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .brand-logo i {
        margin-top: 15px;
    }

} 

@media screen and (max-width: 1200px) {
    .navLinks {
        font-size: 0.9rem;
    }
    .brand-logo i{
        margin-right: 20px;
        font-size: 2rem;
        
    }
  }