 
<nav class="navigationBar grey lighten-1">
    <div class="nav-wrapper">
        <div class="container">
      <a href="" class="brand-logo"><i class="fas fa-user-secret"></i><span class="logoText">MATERIALIZING</span> </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons"><i class="fal fa-bars"></i></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="navLinks" href="">Home</a></li>
        <li><a class="navLinks" href="login">Login</a></li>
        <li><a class="navLinks" href="register">Register</a></li>
        <li><a class="navLinks" href="profile">Profile</a></li>
        <li><a class="navLinks" href="orders">Orders</a></li>
        <li><a class="navLinks" href="products">Products</a></li>
        <li><a class="navLinks" href="cart"><i class="fal fa-shopping-cart"></i></a></li>
      </ul>
    </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <li><a class="navLinks" href="">Home</a></li>
        <li><a class="navLinks" href="login">Login</a></li>
        <li><a class="navLinks" href="register">Register</a></li>
        <li><a class="navLinks" href="profile">Profile</a></li>
        <li><a class="navLinks" href="orders">Orders</a></li>
        <li><a class="navLinks" href="products">Products</a></li>
        <li><a class="navLinks" href="cart"><i class="fal fa-shopping-cart"></i></a></li>
      </ul>

 

 