.order-top {
    background: white;
}
.order {
    margin-top: 50px;
}

.not-handled {
    background: rgb(254, 254, 6);
}

.handled {
    background: rgb(83, 249, 37);
}   

.manage-button {
    margin-top: 30px;
    margin-right: 10px;
}

.special-text {
    color: #ee6e73;
    font-weight: 300;
    margin-top: 40px;
}

.special-text span {
    float: none;
    margin-left: 0px;
}

@media screen and (max-width: 722px) {
    .manage-button {    
        margin-top: 5px;
    }
  }