<div class="container">
  <h1><i class="far fa-list"></i> Ordrar</h1>
  <div id="orders" class="row">
    <div class="order">
        <ul class="collection">
            <div class="order-top row">
              <div class="col s9"><li class="collection-item"><h4>Order #388737</h4>    <h5>Kontaktinformation</h5></li></div>
              <div class="col s3">
                <a class="btn-floating btn-large waves-effect waves-light green manage-button"><i class="fal fa-check"></i></a>
                <a class="btn-floating btn-large waves-effect waves-light red manage-button"><i class="far fa-minus-circle"></i></a>
              </div>  
            </div>
              <li class="collection-item"><i class="fas fa-user"></i> Christoffer Cajander</li>
              <li class="collection-item"><i class="fal fa-map-pin"></i> Munkgatan 20C</li>
              <li class="collection-item"><i class="far fa-map-marker-alt"></i> 72212</li>
              <li class="collection-item"><i class="far fa-location-arrow"></i> Västerås</li>
              <li class="collection-item"><h5>Produkter</h5></li>
              <li class="collection-item">Apple iPhone XS</li>
              <li class="collection-item">Lightningkabel 1M</li>
            </ul>
    </div>
  </div>

</div>
