<div class="container">
  <h4 class="special-text"><i class="far fa-list"></i> Ordrar <span *ngIf="this.hasOrders" class="new badge" data-badge-caption="Nya">{{ this.unHandled }}</span></h4>
  <!-- Om listan med ordrar är tom så visas denna template istället -->
  <ng-template #elseBlock>Det finns inga ordrar.</ng-template>

  <!-- Alla ordrar visas här -->
  <div id="orders" *ngIf="this.hasOrders; else elseBlock" class="row">

    <!-- Går igenom varje order och skriver ut dem -->
    <div class="order" *ngFor="let order of orders; let i = index">
        <ul class="collection">
            <div class="order-top row">
              <div class="col s9"><li class="collection-item">
                <h4 [ngClass]="{'not-handled': !order.handled, 'handled': order.handled}" class="not-handled">Order #{{ order.id }}</h4>
                <h5>Orderinformation</h5></li></div>
              <div class="col s3">
                <a (click)="toggleHandled(i)" class="btn-floating btn-large waves-effect waves-light green manage-button" title="Växla status"><i class="fal fa-check"></i></a>
                <a (click)="deleteOrder(i)" class="btn-floating btn-large waves-effect waves-light red manage-button" title="Radera order"><i class="far fa-minus-circle"></i></a>
              </div>  
            </div>
              <li class="collection-item"><i class="fal fa-user"></i> {{ order.fullname }}</li>
              <li class="collection-item"><i class="fal fa-map-pin"></i> {{ order.addressline }}</li>
              <li class="collection-item"><i class="far fa-map-marker-alt"></i> {{ order.zipcode }}</li>
              <li class="collection-item"><i class="far fa-location-arrow"></i> {{ order.city }}</li>
              <li class="collection-item"><i class="far fa-calendar-day"></i> {{ order.date }}</li>
              <li class="collection-item"><i class="fal fa-clock"></i> {{ order.time }}</li>
              <li class="collection-item"><i class="fal fa-envelope"></i> <a href="mailto:{{ order.email }}"> {{ order.email }}</a></li>
              <li class="collection-item"><i class="fal fa-phone-alt"></i> <a href="tel:{{ order.phone }}"> {{ order.phone }}</a></li>
              <li class="collection-item"><h5>Produkter</h5></li>
              <li class="collection-item">
                <table class="striped">
                  <tbody>
                      <tr *ngFor="let product of order.products">
                          <td>{{ product.brand + " " + product.name }}</td>
                      </tr>
                  </tbody>
                </table>
              </li>
            </ul>
          </div>
    </div>
</div>
