#payButton {
    margin-top: 20px;
}

.managebutton {
    padding: 1px;
    cursor: pointer;
}

.total-box {
    border-top: 1px solid rgba(0,0,0,0.2);
}

.empty-cart {
    margin-bottom: 100px;
}

.empty-cart p {
    color: rgb(79, 79, 79);
}

.special-text {
    color: #ee6e73;
    font-weight: 300;
    margin-top: 40px;
}