<div class="container">
    <h4 class="special-text"><i class="fal fa-shopping-cart"></i> Varukorg</h4>
    <ng-template #elseBlock>
        <div class="empty-cart">
            <h1 class="special-text">Din varukorg är tom <i class="far fa-heart-broken"></i></h1>
            <p>Dags att fylla på din varukorg, gå till <a href="/products">produkter</a> för att handla.</p>
        </div>
    </ng-template>
    <div class="shopping-cart" *ngIf="cart.length > 0; else elseBlock">
        <table class="striped">
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Antal</th>
                    <th>Pris</th>
                    <th></th>
                </tr>
            </thead>
            <tbody> 
                <tr *ngFor="let product of cart; let i = index">
                    <td *ngIf="product.name">{{ product.name }}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{ product.amount * product.price }}:-</td>
                    <td>
                        <i class="far fa-plus-circle managebutton" (click)="this.addAmount(i)"></i>
                        <i class="far fa-minus-circle managebutton" (click)="this.remove(i)"></i>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr class="total-box">
                <tr style="border-top: 1px solid black">
                    <td>Totalt:</td>
                    <td>{{ this.itemsAmount}}</td>
                    <td>{{ this.total }}:-</td> 
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div class="row" id="payButton">
            <div class="col s6 offset-s6">
                <a class="waves-effect waves-light btn-large right custombtn"><i class="material-icons left"><i class="fal fa-money-check-edit-alt"></i></i>Gå vidare till kassan</a>
            </div>    
        </div>
    </div>
</div>