<div id="carousel-home">
  <div class="slideshow">
    <app-about></app-about>
    <div class="carousel">
      <a class="carousel-item slideImage z-depth-3" href="#one!"><img src="../../assets/images/1.jpg"></a>
      <a class="carousel-item slideImage z-depth-3" href="#two!"><img src="../../assets/images/2.jpg"></a>
      <a class="carousel-item slideImage z-depth-3" href="#three!"><img src="../../assets/images/3.jpg"></a>
      <a class="carousel-item slideImage z-depth-3" href="#four!"><img src="../../assets/images/4.jpg"></a>
      <a class="carousel-item slideImage z-depth-3" href="#five!"><img src="../../assets/images/5.jpg"></a>
    </div>
  </div>
</div>