<div class="container">
<div class="text-top">
  <h4>Produkter</h4>
</div>
</div>
<div class="container">
  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-image">
                <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-xs-max-gold-select-2018?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1550795409154">
                
                <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons"> +</i></a>
              </div>
              <div class="card-content">
                <p>Iphone XS </p>
                <div>11 190,00:-</div>
              </div>
            </div>
      </div>
      <div class="col"><div class="card">
          <div class="card-image">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-xr-black-select-201809?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1551226038992">
            
            <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons"> +</i></a>
          </div>
          <div class="card-content">
            <p>Iphone XR </p>
            <div>7248:-</div>
          </div>
        </div></div>
      <div class="col"><div class="card">
          <div class="card-image">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/40-alu-space-sport-black-nc-s4-1up?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1539189736746">
            
            <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons"> +</i></a>
          </div>
          <div class="card-content">
            <p>Apple watch </p>
            <div>4469:-</div>
          </div>
        </div></div>
      <div class="col"><div class="card">
          <div class="card-image">
            <img src="https://png2.cleanpng.com/sh/5f4353b35a7a9ab911747ee3f666351b/L0KzQYm3VsA4N6FvR91yc4Pzfri0ggBxdJYygeJqZD3zgrE0Wb04NZp1gNH3ZT37PbL3kPxmNZp1edY2cILyPYK5TckuaaF1hNc2MUC4ebBqiL1qeJJpReJ7bz24coKCgfM2amk5fNdtNT61RYSAU8Q6QWI6Sqo9MEm0R4q8VMQzNqFzf3==/kisspng-apple-ipad-pro-9-7-iphone-x-apple-ipad-pro-12-9-apple-105inch-ipad-pro-5b19ac5b84ded5.2537349915284091795442.png?fbclid=IwAR3WwQ3A06A9n2jmQ86Q0CYEGkuANZXCxT661a65ijfSnyKsbq1raZnIzxs">
            
            <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons"> +</i></a>
          </div>
          <div class="card-content">
            <p>Ipad Pro</p>
            <div>22 190,00:-</div>
          </div>
        </div></div>
      <div class="col"><div class="card">
          <div class="card-image">
            <img src="https://png2.cleanpng.com/sh/ffa1758c99fe4188019b62bdac05151a/L0KzQYm3VcE3N5pnj5H0aYP2gLBuTfFqeqF0fOU2bXHmcrF2i71icaMygNdqZIDrf7Bsk71ieKFxfZ9ycHjyfra0VfFna5I9eao5N3XoSYi1WMI6QGM3S6Q6NUK5RYGAVsg5OGQ3TZD5bne=/kisspng-airpods-macbook-air-headphones-apple-iphone-5afca8a807ee97.8298223215265076880325.png">
            
            <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons"> +</i></a>
          </div>
          <div class="card-content">
            <p>Apple Airpods </p>
            <div>1899:-</div>

          </div>
        </div></div>
      <div class="col"><div class="card">
          <div class="card-image">
            <img src="https://png2.cleanpng.com/sh/45f785ef6bb55f4f72ee68eaf5104d74/L0KzQYm3WMIxN5lxeZH0aYP2gLBuTfFkNZJpeeJ9ZYKwecHvjB5mNWYyhNtwaITxebBuTfRifJIye9NrbHWwdb3sgCRzcZRmRdt5aHBxdX7qgfJtbaQyedDtLXHnccH7hgJ0NWZnT9QAMHa6RLW3Wck4NmI7T6Y5MEK3QYa6VMgxQGQ2SaU6NUaxgLBu/kisspng-ac-adapter-iphone-5-lightning-data-cable-electrica-iphone-cables-and-adapters-5b7b50f74d0997.1674002415348083113156.png?fbclid=IwAR35_fxhKC0NGkBF88aHNzA8VxTAdA4PTlBWd60IJXyDVQfbhcmL-oZfPJw">
            
            <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons"> +</i></a>
          </div>
          <div class="card-content">
            <p>Lightning Cable</p>
            <div> 249:-</div>
          </div>
        </div></div>
        <div class="col">
            <div class="card">
                <div class="card-image">
                  <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-xs-max-gold-select-2018?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1550795409154">
                  
                  <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons"> +</i></a>
                </div>
                <div class="card-content">
                  <p>macbook pro</p>
                  <div>24 000:-</div>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-image">
                  <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-xs-max-gold-select-2018?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1550795409154">
                  
                  <a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons"> +</i></a>
                </div>
                <div class="card-content">
                  <p>macbook</p>
                  <div>14 000:-</div>
                </div>
              </div>
        </div>

  </div>
</div>

<div class="page-self">

<ul class="pagination center-align">
  <li class="disabled"><a href="#!"><i class="fal fa-chevron-left"></i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">4</a></li>
  <li class="waves-effect"><a href="#!">5</a></li>
  <li class="waves-effect"><a href="#!"><i class="fal fa-chevron-right"></i></a></li>
</ul>

</div>