<div class="profil-background">
  <div class="container"><br>
    <h5><strong> User Profile</strong></h5>
    <div class="card-image">
      <i class="fas fa-user-alt"></i>
    </div>
  
    <div class="row">
      <h6><strong>First Name: </strong>{{profile.firstName}}</h6>
      <h6><strong>Last Name: </strong>{{profile.lastName}}</h6>
  
      <div class="col-md-2">
        <img style="width:100%" src="{{profile.image}}" alt="">
      </div>
      <div class="col-md-10">
        <ul>
          <li class="list-group-item"><strong>Email: </strong>profile.email</li>
          <li class="list-group-item"><strong>Profil last updated: </strong>profile.updated_at</li>
        </ul>
  
      </div>
    </div>
   