#profile-component {
    .container {
        div {
            i {
                color: #ee6e73;
                font-weight: 300;
                margin-top: 40px;
                font-size: 30px;
            }
        } .row {
            h6 {
                span {
                    color: #1d1b1b99;
                    font-weight: 700;
                }
                
            }
        }
        
    }
}