<div class="container center-align">
    <h3 class="section">REGISTER NEW ACCOUNT</h3>
    <div class="row section">
        <form class="col s12 center-align">
            <div class="row">
                <div class="input-field col s12 m3 offset-m3 center-align">
                    <input id="firstname" type="text" class="validate">
                    <label for="firstname">First Name</label>
                </div>
                <div class="input-field col s12 m3">
                    <input id="lastname" type="text" class="validate">
                    <label for="lastname">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input id="address" type="text" class="validate">
                    <label for="text">Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3 center-align">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light mr10" type="submit" name="action">REGISTER
                        <i class="fal fa-sign-in-alt"></i>
                    </button>
                    <a href="register" class="btn waves-effect waves-light">CANCEL
                        <i class="fal fa-ban"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>